*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.mwos{
    background: linear-gradient(140deg,#b22dff,#1c30e4 120%);
    width: 100%;
    height: 100%;
    position: fixed;
}

.os-build{
    color: rgb(225, 225, 225);
    position: absolute;
    right: 10px;
    top: 40px;
}

/* System tray */

.tray{
    background-color:rgb(185, 185, 185);
    display: flex;
    justify-content: space-around;
    height: 33px;
    align-items: center;
    /*Border*/
    border-style: solid;
    border-width: 2px;
    border-color: hsla(0,0%,100%,.75);
    border-top-color: rgba(185, 185, 185, 1);
    border-right-color:  rgba(200, 200, 200, 1);
    border-bottom-color:  rgba(215, 215, 215, 1);
    border-left-color: rgba(215, 215, 215, 1);
}

.system-tray{
    background-color: rgba(190, 190, 190, 1);
    /*Dimensions*/
    height: 27px;
    /*Position*/
    position: absolute;
    right: 3px;
    top: 3px;
    /*Border*/
    border-style: solid;
    border-width: 1px;
    border-top-color: rgba(15, 15, 15, 0.75);
    border-right-color: rgba(255, 255, 255, 0.75);
    border-bottom-color: rgba(255, 255, 255, 0.75);
    border-left-color: rgba(15, 15, 15, 0.75);
}

.system-tray-container{
    background-color: blue;
    width: 100%;
    height: 100%;
    margin-right: 74px;
    display: inline-block;
}

.system-tray-container ul li{
    list-style-type: none;
    display: inline-block;
}

.contact{
    height: 25px;
    width: 25px;
    background-color: yellow;
    display: block;
}

/* Clock */

.system-tray-clock-container{
    background-color: rgba(190, 190, 190, 1);
    width: 70px;
    height: 100%;
    position: absolute;
    right: 0px;
    top: 0px;
}

.clock {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #000000;
    font-size: 12px;
    letter-spacing: 2px;
}

/* Start menu button */

.start-menu-button{
    background-color: rgba(190, 190, 190, 1);
    /*Border*/
    border-style: solid;
    border-width: 2px;
    border-top-color: rgba(255, 255, 255, 0.75);
    border-right-color: rgba(15, 15, 15, 0.75);
    border-bottom-color: rgba(15, 15, 15, 0.75);
    border-left-color: rgba(255, 255, 255, 0.75);
    /*Dimensions*/
    width: 70px;
    height: 28px;
    /*Position*/
    position: absolute;
    left: 3px;
    top: 3px;
}

.start-menu-icon{
    height: 16px;
    width: 58px;
    margin-top: 4px;
    margin-left: 4px;
    background-color:darkgray;
}

.start-menu-button-active{
    border-style: solid;
    border-width: 2px;
    border-top-color: rgba(15, 15, 15, 0.75);
    border-right-color: rgba(255, 255, 255, 0.75);
    border-bottom-color: rgba(255, 255, 255, 0.75);
    border-left-color: rgba(15, 15, 15, 0.75);
    background-color: rgba(170, 170, 170, 1);
}

/* Start menu */

.start-menu-container{
    background-color: gray;
    /*Dimensions*/
    min-width: 200px;
    display: flex;
    /*Position*/
    flex-direction: column;
    position: absolute;
    left: 3px;
    top: 31px;
    /*Border*/
    border-color:
     hsla(0,0%,100%,.75)
     rgba(15,15,15,.75) 
     rgba(15,15,15,.75) 
     hsla(0,0%,100%,.75);
    border-style: solid;
    border-width: 2px;
    transform: translateX(-120%)
}

.start-menu-container-active{
    transform: translateX(0%);
}

.start-menu-banner{
    background-color: rgba(150, 150, 150, 1);
    /*Dimensions*/
    height: 100%;
    width: 35px;
    /*Position*/
    position: absolute;
    background-repeat: no-repeat;
    display: table-cell;
    vertical-align: bottom;
    box-sizing: border-box;
}

.menu-item-container{
    display: table;
    background-color: rgba(180, 180, 180, 1);
    /*Position*/
    position: absolute;
    left: 0px;
    /*Dimensions*/
    width: 100%;
    height: 30px;
}

.menu-items{
    background-color: blue;
    width: 161px;
    position: relative;
    left: 35px;
    list-style-type: none;
}

.menu-item-container:hover{
    background-color: rgb(189, 77, 189);
    color: white;
    border-style: solid;
    border-width: 1px;
    border-top-color: rgba(15, 15, 15, 0.33);
    border-right-color: rgba(255, 255, 255, 0.75);
    border-bottom-color: rgba(255, 255, 255, 0.75);
    border-left-color: rgba(15, 15, 15, 0.33);
}

.label{
    background-color: rgba(180, 180, 180, 0); /*Transparent*/
    display: table-cell;
    width: 100%;
    padding-left: 10px;
    vertical-align: middle;

}

.menu-item-icon{
    background-color: rgba(180, 180, 180, 0); /*Transparent*/
    display: table-cell;
    padding-left: 10px;
    vertical-align: middle;
}

.menu-item-icon-graphic{
    background-color: rgb(60, 160, 160);
    display: block;
    width: 16px;
    height: 16px;

}
.menu-items ul{
    width: 100%;
}

.menu-items ul li{
    list-style-type: none;
    display: list-item;
    width: 100%;
    height: 30px; /* Menu items height */
}

/*
Desktop icons

.icon{
    display: inline-block;
    margin-left: 25px;
    margin-bottom: 25px;
    background-color: yellow;
    width: 100%;
    height: 100%;
}
*/







/* Mobile

@media only screen and (max-width: 600px) {
    body{
      background:none;
    }

        .start-menu{
        transform: translateX(-100%);
    }
    
  }

  */