// Variables

$background-color: linear-gradient(140deg, #b22dff, #2838c5 120%);

$primary-color:  #b9b9b9; // Taskbar & Start menu
$seconday-color: #bebebe; // Tray

$text-color: #000000;

// Maps

$font-sizes:(
    "small": 7px,
    "medium": 12px,
    "large": 16px
);